%article.main
  .wrapper
    %section.content
      .profile-edit 
        .page-title РЕАДАКТИРОВАНИЕ ПРОФИЛЯ
        = form_for @profile, url: profile_path(@profile), html: {id: "edit-profile", class: "fields"} do |f|
          .field.userpic
            = f.label :avatar, "Изменить аватар"
            = image_tag @profile.avatar.url, alt: @profile.email, class: "current", height: "60",width: "60"
            = f.file_field :avatar, class: "upload", id: "upload"
            .filename #{ File.basename(@profile.avatar.url(:large)) }
            = link_to "", "#", class: "remove"
          .field.email
            = f.label :email, "Почта"
            = f.text_field :email, id: "email"
          .field.password
            = f.label :password, "Пароль"
            = f.password_field :password, id: "password"
          .field.password-again
            = f.label :password_confirmation, "Еще раз пароль"
            = f.password_field :password_confirmation, id: "password-again"
          .actions
            = f.submit "Сохранить изменения", class: "save"