%article.main
  .wrapper
    %section.content
      .intro ПРОФИЛЬ — #{@profile.email}
      - if @posts.count > 0
        %ul.posts
          - @posts.each do |post|
            = render partial: "posts/short_post", locals: {post: post}
        = will_paginate @posts, inner_window: 1