%li
  - if user
    = link_to profile_path(user), class: 'userpic', id: comment.id do
      = image_tag(user.avatar.url)
  .box
    - if user
      .info{class: user.id}
        = link_to "#{user.email}","#", class: 'author'
        в #{comment.created_at}
    .comment
      = raw comment.body
    - if current_user
      = link_to "Ответить", "#", class: 'reply', remote: true, id: comment.id
    - permitted_to? :destroy, comment do
      = link_to "Удалить", comment_path(comment), method: :delete, class: 'delete', remote: true, id: comment.id
  %ul
    - (@comments[comment.id] || []).each do |comment|
      = render partial: 'comments/comment', locals: {comment: comment, user: comment.user}
