= form_tag Comment.new, url: new_comment_path, remote: true, class: "reply", id: "comment", name: "comment" do
  .comment
    = hidden_field_tag "comment[post_id]", post.id
    = hidden_field_tag "comment[parent_id]", comment.id if comment
    = text_area_tag 'comment[body]',nil, remote: true, id: 'comment', placeholder: "Для отправки нажмите ctrl+Enter, для закрытия формы - Esc"