.comments
  - if current_user
    = render partial: 'comments/form', locals: {post: @post, comment: nil}
  - else
    .sign-in-to-comment
      Чтобы оставить комментарий
      = link_to "войдите на сайт", new_user_session_path
      или
      = link_to "зарегистрируйтесь",new_user_registration_path
  %ul.list
