= form_for @post, html: {class: "fields"} do |f|
  .field.email
    = label_tag :title, 'Заголовок'
    = f.text_field :title, id: :title, placeholder: "Заголовок", class: @post.errors[:title].blank? ? '' : 'error'
  .field.email
    = label_tag :title, 'Текст'
    = f.text_area :body, id: :postContent
  .actions
    = f.submit 'Сохранить изменения', class: "save"
