%li
  %h2.title
    = link_to raw(post.title), post_path(post)
  .info
    .posted
      %span.m-hidden Опубликовал
      = link_to_user post.user, 'author'
      = post.created_at.strftime("в %H:%M, %d.%m.%Y")
    =# link_to post.comments_count, show_post_path(post) + "#comments", class: "comments #{'active' if !post.comments_count.zero?}", title: 'Перейти к комментариям'
  =# link_to raw(clear_content(post.excerpt)), show_post_path(post), class: 'text'
