%article.main
  .wrapper
    %section.content
      %ul.posts
        - @posts.each do |post|
          = render partial: 'short_post', locals: {post: post}
      = will_paginate @post, inner_window: 1