%article.main
  .wrapper
    %section.content
      .post.v2
        .splash
          .info
            %h1
              = @post.title
            .posted
              Опубликовал
              = link_to_user @post.user
              в #{@post.created_at.strftime("%H:%M, %d.%m.%Y")}
        .controls
          - permitted_to? :edit, @post do
            = link_to 'Редактировать', edit_post_path(@post)
          - permitted_to? :destroy, @post do
            = link_to "Удалить", post_path(@post), method: :delete, data: { confirm: "Уверены?" }
        .text
          = raw @post.body
        = render 'comments/post_comments'
:javascript
  var list = $(".comments .list");

  $.ajax({
    type: "POST",
    url: "/comments/list_comments",
    data: {'post_id': "#{@post.id}"},
    success: function(data) {
      list.html(data);
      key_ctrl_enter();
      click_reply();
    }
  });