html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent }
body { line-height:1 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
nav ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after { content:""; content:none }
q:before, q:after { content:""; content:none}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent }
ins { background-color:#ffff99; color:#000; text-decoration:none }
mark { background-color:#ffff99; color:#000; font-style:italic; font-weight:bold }
del { text-decoration:line-through }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help }
table { border-collapse:collapse; border-spacing:0 }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0 }
input, select { vertical-align:middle }

html { -webkit-text-size-adjust:100% }
input:not([type]),
input[type='text'],
input[type='password'],
textarea { -webkit-transition:all 0.2s linear 0s; -moz-transition:all 0.2s linear 0s; -o-transition:all 0.2s linear 0s; -ms-transition:all 0.2s linear 0s; transition:all 0.2s linear 0s }

input, textarea { background-position: 98% 7px }
input.error, textarea.error { position:relative; border:1px solid #da6666 !important; color:#da6666 !important; background:url(../images/common/icon-error.png) no-repeat 99.3% 4px }

body { position:relative; background:#fff url(../images/bg.png) repeat 0 0 fixed }
body.scrolless { position:absolute; width:100%; overflow-x:hidden }


.page > .main { position:relative; z-index:2; clear:left; width:100% }
.page > .main > .wrapper { position:relative; width:1072px; margin:0 auto; background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc }
.page > .main > .wrapper:after { content:''; display:block; clear:both }
.page > .main > .wrapper > .content { float:left; width:720px; margin-top:40px }

.page > header { position:relative; z-index:2; float:left; clear:left; width:100% }
.page > header > .wrapper { position:relative; width:1072px; margin:0 auto; padding-bottom:32px; background:#fff; border-left:1px solid #ccc; border-right:1px solid #ccc; text-align:center }
.page > header > .wrapper:after { content:''; display:block; clear:both }
.page > header > .wrapper > .logo { position:relative; z-index:2; display:inline-block; margin:66px 0 0 -28px }
.page > header > .wrapper > .logo img { max-height:70px; }
.page > header > .wrapper > .auth { position:absolute; top:82px; right:51px }
.page > header > .wrapper > .auth > li { display:block; float:left }
.page > header > .wrapper > .auth > li.sign-up { margin-right:12px; font:300 14px/14px 'Roboto',Arial,serif; color:#666 }
.page > header > .wrapper > .auth > li.sign-in { font:500 14px/14px 'Roboto',Arial,serif; color:#666 }
.page > header > .wrapper > .auth > li a { color:#666; text-decoration:none }
.page > header > .wrapper > .user { position:absolute; top:82px; right:51px; text-align:right; font:300 14px/14px 'Roboto',Arial,serif; color:#3f3f3f }
.page > header > .wrapper > .user > .hello { float:left }
.page > header > .wrapper > .user > .hello > a { font-weight:300; color:#3f3f3f; text-decoration:none; }
.page > header > .wrapper > .user > .sign-out { float:left; margin-left:12px; font-weight:500; color:#3f3f3f; text-decoration:none; }
.page > header > .wrapper > .user > .actions { float:right; clear:both; margin-top:11px;  }
.page > header > .wrapper > .user > .actions > .add-post { position:relative; float:right; font-weight:500; color:#3f3f3f; text-decoration:none; right: 30px;}
.page > header > .wrapper > .user > .actions > .add-post:before { content:''; position:absolute; top:0; left:-23px; width:15px; height:15px; background:url(../images/icons.png) no-repeat -391px -104px }
.page > header > .wrapper > .user > .actions > .settings { position:relative; float: right; font-weight:500; color:#3f3f3f; text-decoration:none; }
.page > header > .wrapper > nav { float:left; clear:left; margin-top:27px; width:100% }
.page > header > .wrapper > nav > ul { position:relative; font-size:0; }
.page > header > .wrapper > nav > ul > li { display:inline-block; margin:0 20px; font:300 16px 'Roboto',Arial,serif; color:#333 }
.page > header > .wrapper > nav > ul > li > a { position:relative; color:#333; text-decoration:none }
.page > header > .wrapper > nav > ul > li > a:hover { color:#333 }
.page > header > .wrapper > nav > ul > li.active > a { font-weight:500 }
.page > header > .wrapper > nav > ul > li.active > a:after { content:''; position:absolute; bottom:-6px; left:18px; right:18px; height:3px; background:#27ba65 } /* new code */
.page > header > .wrapper > nav > ul > li.search { position:relative }
.page > header > .wrapper > nav > ul > li.search > .toggler { float:left; position:relative; z-index:2; top:2px; display:block; width:13px; height:14px; background:url(../images/icons.png) no-repeat 0 0 }

.page > .main > .wrapper > .content > .intro { position:relative; float:left; margin-left:40px; width:auto; padding:0 0 0 18px; font:300 31px/31px 'Roboto',Arial,serif; color:#27ba65; text-transform:uppercase }
.page > .main > .wrapper > .content > .intro:before { content:''; position:absolute; left:0; top:-1px; bottom:1px; width:3px; background:#27ba65; }
.page > .main > .wrapper > .content > .blog-description { position:relative; float:left; clear:left; width:560px; margin:30px 0 0 40px; padding:0 0 34px 18px; font:300 14px/22px 'Open Sans',Arial,serif; color:#666; box-sizing:border-box;  }
.page > .main > .wrapper > .content > .blog-description p { margin-bottom:20px; }
.page > .main > .wrapper > .content > .blog-description h2,
.page > .main > .wrapper > .content > .blog-description h3 { margin-bottom:15px; }
.page > .main > .wrapper > .content > .blog-description p:last-child,
.page > .main > .wrapper > .content > .blog-description h2:last-child,
.page > .main > .wrapper > .content > .blog-description h3:last-child { margin:0; }
.page > .main > .wrapper > .content > .blog-description:after { content:''; position:absolute; bottom:0; left:0; right:-25px; height:3px; background:#27ba65; }
.page > .main > .wrapper > .content > .blog-description ul,
.page > .main > .wrapper > .content > .blog-description ol { margin:0 0 20px 30px; }
.page > .main > .wrapper > .content > .posts-type { position:relative; float:left; clear:left; width:100%; margin-top:50px; padding:0 80px 0 40px; box-sizing:border-box }
.page > .main > .wrapper > .content > .posts-type:before { content:''; position:absolute; top:11px; left:40px; right:80px; height:1px; background:#a9a9a9 }
.page > .main > .wrapper > .content > .posts-type > .title { position:relative; float:left; padding-right:7px; font:300 28px/21px 'Roboto',Arial,serif; color:#a9a9a9; background:#fff; text-transform:uppercase; }
.page > .main > .wrapper > .content > .posts-type > .all { opacity:1; position:relative; display:block; float:right; height:21px; padding:0 11px; background:#a9a9a9; border-radius:10px; font:500 12px/21px 'Robot',Arial,serif; color:#fff; text-decoration:none; }
.page > .main > .wrapper > .content > .posts-type > .all:before { content:''; position:absolute; top:0; left:-7px; width:7px; height:21px; background:#fff }
.page > .main > .wrapper > .content > .posts { float:left; clear:left; width:600px; margin:40px 0 0 40px }
.page > .main > .wrapper > .content > .posts > li { display:block; float:left; clear:left; width:100%; padding:27px 0 35px; border-bottom:1px solid #eee }
.page > .main > .wrapper > .content > .posts > li:first-child { margin-top:0; padding-top:0 }
.page > .main > .wrapper > .content > .posts > li:last-child { border:none; padding-bottom:0; }
.page > .main > .wrapper > .content > .posts > li > .category { font:300 25px/31px 'Open Sans',Arial,serif; color:#0b0b0b; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .title { float:left; width:100%; font:300 27px/33px 'Open Sans',Arial,serif; color:#0b0b0b; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .title a { color:#0b0b0b; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .info { float:left; clear:left; margin:13px 0 14px 0; font:300 16px 'Roboto',Arial,serif; color:#999; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .info .posted { display:inline-block }
.page > .main > .wrapper > .content > .posts > li > .info .posted a { color:#339966; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .info .rating { position:relative; display:inline-block; float:none; clear:none; width:auto; margin:0 0 0 25px; padding:0 0 0 25px; text-decoration:none; color:#999 }
.page > .main > .wrapper > .content > .posts > li > .info .rating:before { content:''; position:absolute; top:-2px; left:0; width:21px; height:20px; background:url(../images/icons.png) no-repeat -112px 0 }
.page > .main > .wrapper > .content > .posts > li > .info .rating:after { display:none; }
.page > .main > .wrapper > .content > .posts > li > .info .rating.active:before { background-position:-112px -21px }
.page > .main > .wrapper > .content > .posts > li > .info .comments { position:relative; display:inline-block; margin-left:20px; padding-left:29px; text-decoration:none; color:#999 }
.page > .main > .wrapper > .content > .posts > li > .info .comments:before { content:''; position:absolute; top:-1px; left:0; width:23px; height:19px; background:url(../images/icons.png) no-repeat -134px 0 }
.page > .main > .wrapper > .content > .posts > li > .info .comments.active:before { background-position:-134px -21px }
.page > .main > .wrapper > .content > .posts > li > .splash { max-width:100%; }
.page > .main > .wrapper > .content > .posts > li > .splash img { width:100% }
.page > .main > .wrapper > .content > .posts > li > .text { float:left; clear:left; margin-top:10px; width:100%; font:400 14px/22px 'Open Sans',Arial,serif; color:#666; text-decoration:none }
.page > .main > .wrapper > .content > .posts > li > .read-more { float:right; clear:left; margin-top:5px; font:300 16px/18px 'Roboto',Arial,serif; color:#666; text-decoration:none; border-bottom:1px solid #b5b5b5 }
.page > .main > .wrapper > .content > .pagination { float:left; clear:left; width:100%; max-width:600px; margin:25px 0 0 40px; text-align:center }
.page > .main > .wrapper > .content > .pagination > li { position:relative; display:inline-block; vertical-align:top; padding:0 5px; min-width:13px; height:31px; margin:0 2px; font:500 16px/31px 'Roboto',Arial,serif; color:#d2d2d2; text-align:center; }
.page > .main > .wrapper > .content > .pagination > li.gap { border:none; }
.page > .main > .wrapper > .content > .pagination > li a { color:#d2d2d2; text-decoration:none }
.page > .main > .wrapper > .content > .pagination > li.current { border-color:#34be6e; color:#34be6e; }
.page > .main > .wrapper > .content > .pagination > li a.prev:before { content:''; position:absolute; top:10px; left:11px; bottom:0; width:7px; height:11px; background:url(../images/icons.png) no-repeat -404px -31px; }
.page > .main > .wrapper > .content > .pagination > li a.next:before { content:''; position:absolute; top:10px; left:13px; bottom:0; width:7px; height:11px; background:url(../images/icons.png) no-repeat -417px -31px; }

.page > .main > .wrapper > .content > .post { position:relative; float:left; clear:left; width:100% }
.page > .main > .wrapper > .content > .post > .splash { position:relative; float:left; width:100%; top: 45px}
.page > .main > .wrapper > .content > .post > .splash > .info { position:absolute; bottom:0; left:93px; width:814px; margin:0; padding:26px 36px 11px; font:300 16px "Roboto",Arial,serif; color:#999; background:rgba(39,186,101,.5); }
.page > .main > .wrapper > .content > .post > .splash > .info > .category { float:left; width:100%; font:500 28px/28px 'Roboto',Arial,serif; color:#fff; }
.page > .main > .wrapper > .content > .post > .splash > .info > .title { float:left; clear:left; width:100%; margin-top:10px; padding-bottom:20px; font:300 44px/46px 'Roboto',Arial,serif; color:#fff; border-bottom:1px solid #fff; }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer { float:left; clear:left; width:100%; margin-top:10px; color:#fff; }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .author { color:#fff; }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .rating { position:relative; margin:0; width:auto; float:right; clear:none; padding:0 0 0 25px; font:300 15px 'Roboto',Arial,serif; text-decoration:none; color:#fff }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .rating:before { content:''; position:absolute; top:1px; left:0; width:16px; height:14px; background:url(../images/icons.png) no-repeat -181px -55px }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .rating:after { display:none; }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .rating.active:before { background-position:-112px -21px }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .comments { position:relative; float:right; margin-left:16px; padding-left:25px; font:300 15px 'Roboto',Arial,serif; text-decoration:none; color:#fff }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .comments:before { content:''; position:absolute; top:3px; left:5px; width:14px; height:12px; background:url(../images/icons.png) no-repeat -202px -57px }
.page > .main > .wrapper > .content > .post > .splash > .info > .posted-outer .comments.active:before { background-position:-134px -21px }

.page > .main > .wrapper > .content > .post > .controls { float:left; clear:left; width:885px; height:35px; margin:60px 0 -40px 100px; font:16px "Roboto",Arial,serif; border-bottom:1px solid #e6e6e6; }
.page > .main > .wrapper > .content > .post > .controls a { margin-right:35px; color:#9d9d9d; }
.page > .main > .wrapper > .content > .post > .controls .views { float:right; }

.page > .main > .wrapper > .content > .post > .text { float:left; clear:left; width:792px; margin:90px 0 0 140px; font:22px/33px Georgia,Arial,serif; color:#505050 }
.page > .main > .wrapper > .content > .post > .text > p:first-child:first-letter { font-size:70px; padding-right:15px; }
.page > .main > .wrapper > .content > .post > .text strong { font-weight:bold }
.page > .main > .wrapper > .content > .post > .text h2 { clear:left; margin-bottom:20px; font:600 28px/28px Georgia,Arial,serif; color:#505050; }
.page > .main > .wrapper > .content > .post > .text p { margin-bottom:20px }
.page > .main > .wrapper > .content > .post > .text blockquote { clear:left; margin:0 0 20px -18px; padding:3px 0 3px 16px; border-left:2px solid #666; font:italic 20px/26px Georgia,Arial,serif; color:#666; }
.page > .main > .wrapper > .content > .post > .text ol { clear:left; margin:0 0 20px 0; color:#999; counter-reset:counter }
.page > .main > .wrapper > .content > .post > .text ul { clear:left; margin:0 0 20px 20px; color:#999 }
.page > .main > .wrapper > .content > .post > .text li { padding-left:5px; margin-top:5px; color:#101010; }
.page > .main > .wrapper > .content > .post > .text li .gray { color:#999; }
.page > .main > .wrapper > .content > .post > .text ol li { list-style:none; }
.page > .main > .wrapper > .content > .post > .text ol li:before { counter-increment:counter; content:counter(counter)'.'; color:#999; display:inline-block; padding:0; margin:0 15px 0 0; color:#505050; }
.page > .main > .wrapper > .content > .post > .text a { color:#4faf6c }
.page > .main > .wrapper > .content > .post > .text .align-left { float:left }
.page > .main > .wrapper > .content > .post > .text .center { text-align:center; }
.page > .main > .wrapper > .content > .post > .text .bigtext { clear:left; margin:40px -65px 20px -65px; font:italic 400 30px/36px Georgia,Arial,serif; text-align:center; color:#666; }

.page > .main > .wrapper > .content > .post > .text .l-pic { position:relative; float:left; margin:5px 30px 30px -125px; padding:0 0 8px 125px; border-bottom:1px solid #999 }
.page > .main > .wrapper > .content > .post > .text .l-pic .caption { position:absolute; bottom:10px; left:0; margin-right:10px; width:115px; font:italic 12px/18px 'Roboto',Arial,serif; color:#999; text-align:right }
.page > .main > .wrapper > .content > .post > .text .l-pic img { float:right }

.page > .main > .wrapper > .content > .post > .text .c-pic { clear:left; overflow:hidden; margin:20px -140px 20px -140px; padding:35px 140px; background:url(../images/bg-centered-picture.png) repeat 0 0; text-align:center; line-height:0 }
.page > .main > .wrapper > .content > .post > .text .c-pic .caption { float:left; clear:left; width:100%; margin:10px 0 -5px; font:italic 16px/24px Georgia,Arial,serif; text-align:center }


/* comments (common block) */
.page > .main > .wrapper > .content .post > .comments { position:relative; float:left; clear:left; margin:30px 0 0 96px; width:885px }
.page > .main > .wrapper > .content .comments > .reply { float:left; clear:left; margin:30px 0 0 0; width:100% }
.page > .main > .wrapper > .content .comments > .reply > .comment { position:relative; float:left; width:100%; margin-top:4px }
.page > .main > .wrapper > .content .comments > .reply > .comment > textarea { float:left; width:798px; height:16px; padding:8px 70px 8px 15px; border:1px solid #999; border-radius:17px; resize:none; font:14px 'Roboto',Arial,serif; color:#666; overflow:hidden; resize: none; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; -ms-transition:all .2s linear; transition:all 0.2s linear }
.page > .main > .wrapper > .content .comments > .reply > .comment > textarea:focus { padding:12px 70px 12px 15px; height:100px; }
.page > .main > .wrapper > .content .comments > .reply > .comment > .smiles-toggler { display:none; position:absolute; top:9px; right:70px; width:17px; height:17px; background:url(../images/icons.png) no-repeat -638px 0 }
.page > .main > .wrapper > .content .comments > .reply > .comment > .attachment-toggler { display:none; position:absolute; top:10px; right:43px; width:16px; height:15px; background:url(../images/icons.png) no-repeat -661px 0 }
.page > .main > .wrapper > .content .comments > .reply > .comment > .send { display:block; position:absolute; top:10px; right:15px; width:17px; height:15px; background:url(../images/icons.png) no-repeat -673px -27px; border:none; cursor:pointer; }
.page > .main > .wrapper > .content .comments > .list { float:left; clear:left; width:100%; margin-top:30px; padding-bottom:30px; border-bottom:1px solid #999; }
.page > .main > .wrapper > .content .comments > .list li { display:block; margin-bottom:15px }
.page > .main > .wrapper > .content .comments > .list li:last-child { margin:0 }
.page > .main > .wrapper > .content .comments > .list > li:last-child .box:after { border:none; }
.page > .main > .wrapper > .content .comments > .list li ul { margin:15px 0 0 58px }
.page > .main > .wrapper > .content .comments > .list .userpic { float:left; width:58px }
.page > .main > .wrapper > .content .comments > .list .box { position:relative; padding-bottom:8px; overflow:hidden }
.page > .main > .wrapper > .content .comments > .list .box:after { content:''; position:absolute; bottom:0px; left:0; right:0; border-bottom:1px solid #ccc }
.page > .main > .wrapper > .content .comments > .list .box > .info { float:left; width:100%; font:300 14px/14px 'Roboto',Arial,serif; color:#999; text-decoration:none }
.page > .main > .wrapper > .content .comments > .list .box > .info a { display:inline-block; color:#59b474; text-decoration:none; border-bottom:2px solid #ddeee1; font-weight:500 }
.page > .main > .wrapper > .content .comments > .list .box > .comment { float:left; width:100%; margin-top:1px; font:300 14px/18px 'Roboto',Arial,serif; color:#999 }
.page > .main > .wrapper > .content .comments > .list .box > a.reply { float:left; width:100%; margin-top:5px; font:300 13px 'Roboto',Arial,serif; color:#59b474; text-decoration:none }
.page > .main > .wrapper > .content .comments > .list .box > a.delete { float:left; width:100%; margin-top:5px; font:300 13px 'Roboto',Arial,serif; color:#59b474; text-decoration:none }

.page > .main > .wrapper > .content .comments > .list .box > form.reply { float:left; clear:left; margin:5px 0 0 0; width:100%; }
.page > .main > .wrapper > .content .comments > .list .box > form.reply .userpic { float:left; max-width:30px; max-height:30px; }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment { position:relative; float:left; width:100%; margin-top:4px }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment > textarea { float:left; width:100%; height:34px; padding:8px 70px 8px 15px; border:1px solid #999; border-radius:17px; resize:none; font:14px 'Roboto',Arial,serif; color:#666; overflow:hidden; resize: none; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; -ms-transition:all .2s linear; transition:all 0.2s linear; box-sizing:border-box; }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment > textarea:focus { padding:12px 70px 12px 15px; height:100px; }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment > .smiles-toggler { display:block; position:absolute; top:9px; right:70px; width:17px; height:17px; background:url(../images/icons.png) no-repeat -638px 0 }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment > .attachment-toggler { display:block; position:absolute; top:10px; right:43px; width:16px; height:15px; background:url(../images/icons.png) no-repeat -661px 0 }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .comment > .send { display:block; position:absolute; top:10px; right:15px; width:17px; height:15px; background:url(../images/icons.png) no-repeat -673px -27px; border:none; cursor:pointer; }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .subscribe-feed { display:block; margin:15px 0 0 4px; float:right; width:13px; height:13px; background:url(../images/icons.png) no-repeat -712px 0 }
.page > .main > .wrapper > .content .comments > .list .box > form.reply > .subscribe-email { display:block; margin:15px 0 0 0; float:right; width:20px; height:12px; background:url(../images/icons.png) no-repeat -684px 0 }

.page > .main > .wrapper > .content .comments > .sign-in-to-comment { float:left; clear:left; width:100%; margin:40px 0 -20px 0; font:300 16px 'Roboto',Arial,serif; color:#666; text-align:center }
.page > .main > .wrapper > .content .comments > .sign-in-to-comment a {  }


.page > .main > .wrapper > .content > .profile-edit { float:left; clear:left; width:100%; margin:20px 0 0 0 }
.page > .main > .wrapper > .content > .profile-edit > .page-title { position:relative; float:left; clear:left; width:100%; padding-bottom:23px; font:300 42px 'Roboto',Arial,serif; color:#27ba65; text-align:center }
.page > .main > .wrapper > .content > .profile-edit > .page-title:after { content:''; position:absolute; bottom:0; left:84px; right:84px; height:2px; background:#27ba65 }
.page > .main > .wrapper > .content > .profile-edit > .fields { width:368px; margin:0 auto; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field { position:relative; float:left; clear:left; margin-top:18px; width:100% }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field > label { float:left; font:14px 'Roboto',Arial,serif; color:#535353; text-transform:uppercase; cursor:pointer; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field > input { float:left; clear:left; margin-top:6px; padding:0 10px; width:342px; height:37px; border:2px solid #dadada; border-radius:6px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic { min-height:64px; margin-top:23px; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic:before { content:''; position:absolute; top:23px; left:0; width:362px; height:37px; border:2px solid #dadada; border-radius:6px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > input { position:absolute; z-index:2; top:25px; height:37px; left:0; right:0; opacity:0; cursor:pointer; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > input:hover + .choose { opacity:.8 }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > .choose { display:block; position:absolute; top:29px; left:7px; width:85px; height:28px; background:#27ba65; font:14px/28px 'Roboto',Arial,serif; color:#fff; text-decoration:none; text-align:center; border-radius:4px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > .filename { position:absolute; top:35px; left:105px; font:14px 'Roboto',Arial,serif; color:#131313; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > .remove { display:block; position:absolute; top:36px; right:15px; width:16px; height:16px; background:url(../images/icons.png) no-repeat -1089px -55px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.userpic > .current { position:absolute; top:4px; left:-78px; width:60px; height:60px; border-radius:10px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field.country { margin-top:40px; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field > textarea { float:left; width:798px; height:16px; padding:8px 70px 8px 15px; border:1px solid #999; border-radius:17px; resize:none; font:14px 'Roboto',Arial,serif; color:#666; overflow:hidden; resize: none; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; -ms-transition:all .2s linear; transition:all 0.2s linear }
.page > .main > .wrapper > .content > .profile-edit > .fields > .field > textarea:focus { padding:12px 70px 12px 15px; height:100px; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .actions { position:relative; float:left; clear:left; width:100%; margin-top:35px; padding-top:25px }
.page > .main > .wrapper > .content > .profile-edit > .fields > .actions:before { content:''; position:absolute; top:0; left:-260px; right:-260px; height:1px; border-top:1px solid #dadada; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .actions > .save { float:left; height:37px; padding:0 19px; background:#27ba65; border:none; border-radius:5px; color:#fff; font:14px/37px 'Roboto',Arial,serif; cursor:pointer; }
.page > .main > .wrapper > .content > .profile-edit > .fields > .actions > .cancel { float:left; height:37px; margin-left:6px; padding:0 19px; background:#818181; border:none; border-radius:5px; color:#fff; font:14px/37px 'Roboto',Arial,serif; cursor:pointer; }
