%header
  .wrapper
    = link_to root_path, class: 'logo' do
      = image_tag('logo.png', alt: 'Мой блоге')
    - unless current_user
      %ul.auth
        %li.sign-up
          = link_to 'Регистрация', new_user_registration_path
        %li.sign-in
          = link_to 'Вход', new_user_session_path
    - else
      .user
        .hello Привет, #{link_to current_user.email, profile_path(current_user)}!
        = link_to 'Выход', destroy_user_session_path, method: :delete, class: 'sign-out'
        .actions
          = link_to 'Настройки', edit_profile_path(current_user), class: 'settings'
          - permitted_to? :new, :posts do
            = link_to 'Добавить пост', new_post_path, class: 'add-post'